body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#div-room-add{
	display: none;
}

#div-room-add-input{
	background: #444;
	padding: 20px;
	color: #fff;
	text-align: center;	
}

#div-room-book-input{
	background: #444;
	padding: 20px;
	margin:20px;
	color: #fff;
	text-align: center;
}

#div-room-list{
	border: solid #444;
	color: #fff;
	text-align: center;	
	margin-top:30px;	
}

li{
	text-decoration: none;
	list-style: none;
	text-align: center;
}


.ul-rooms {
	color: black;
	background: #eee;
	width: 180px;
	height:100px;
	float: left;
	background: #444;
	color: #fff;
	padding: 10px;
}

#search{
	color: #fff;
	text-align: center;	
	background: #444;
	padding: 20px;
	display : none;
}

#btn-room-save{
	display: none;
}

#div-room-search-result {
	border: solid #444;
	text-align: center;	
	background: #444;
	color: #fff;
	margin-top:20px;
}

#div-room-ifbook-list{
	text-align: center;
	margin-top: 20px;
}

.txt-room-num{
	color: red;
}